<% content_for :list_title do %>
  <%= tco :specific_user_article_list_title, user_name: @user_name %>
<% end %>

<% content_for :back_link do %>
  <p><%= link_to tc("to_list"), articles_path %></p>
<% end %>

<%= render "article_list", articles: @articles %>
